// Notice list variables
$notice-list-item-closing-transition: 200ms ease-out;

/* Notice list component prototype */
ul.notice-list {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;

	> li.notice-list-item {
		background-color: $border-bg-color;
		border-radius: $border-radius;
		color: $fg-color;
		margin-bottom: $block-margin;
		padding: ($box-padding * 0.5) $box-padding;
		transition: opacity $notice-list-item-closing-transition;

		div.notice-list-item-text {
			display: flex;
			flex-flow: row wrap;

			p, ul.notice-list-item-text-button-list.grid {
				margin-bottom: 0;
			}

			p {
				flex: 1;
				padding-right: ($grid-gutter * 0.5);
			}

			ul.notice-list-item-text-button-list.grid {
				flex: 0 1 auto;

				> li.grid-col {
					
					> button {
						background-color: transparent;
						border: none;
						color: rgba(0, 0, 0, 0.3);
						cursor: pointer;
						padding: 0;

						body.no-touch &:hover {
							color: rgba(0, 0, 0, 0.5);
						}
					}
				}
			}
		}

		&:last-child {
			margin-bottom: ($element-margin * 0.5);
		}

		&.is-closing {
			opacity: 0;
		}
	}
}

/* Notice lit component extensions */
ul.notice-list {
}
